@layout('main')

@section('content')
<a href="/">Wróć</a>
<h1>{{title}}</h1>
<ul>
    @each(book in books)
    <li><a href="/books/{{book.id}}">{{book.title}}</a></li>

    @endeach
</ul> 
@endsection